<h1>Add a new volunteer project</h1>
<form action="/projects" method="post">
  <div class="form-group">
    <label for="title">Project Title</label>
    <input type="text" name="title" value="" class="form-control">
  </div>
  <div class="form-group">
    <label for="description">Project Description</label>
    <input type="text" name="description" value="" class="form-control">
  </div>
  <button type="submit">Create Project</button>
</form>

<h2>Projects </h2>

<dl>
  <% @projects.each do |project| %>
    <dt><a href="projects/<%= project.id %>">Project <%= project.title %></a></dt>
    <dd><%=project.description%></dd>
  <% end %>
</dl>


<h1>Add a new volunteer!</h1>
<form action="/volunteers" method="post">
  <div class="form-group">
    <label for="title">Volunteer Name</label>
    <input type="text" name="name" value="" class="form-control">
  </div>
  <select id='project' name='project_id' type='text'>
  <% @projects.each() do |project| %>
    <option value="<%= project.id()%>"> <%= project.title() %> </option>
  <% end %>
  </select>
  <button type="submit">Add Volunteer</button>
</form>

<h2>Volunteers </h2>

<dl>
  <% @volunteers.each do |volunteer| %>
    <dt><a href="volunteers/<%= volunteer.id %>"> <%= volunteer.name %></a></dt>
    <dd><a href="volunteers/<%= volunteer.id %>"> <%= Project.find(volunteer.project_id).title %></a></dd>
  <% end %>
</dl>
